---
import Head from '../partials/head.astro';
import Scripts from '../partials/scripts.astro';
import '../styles/app.css';

const { title } = Astro.props;
---
<html lang="es">
<head>
  <Head title={title} />
</head>
<body id="top">
  <slot />
  <Scripts />
</body>
</html>